.list-item {
    & .list-item-left {
        font-size: 20px;
        font-weight: bold;
        margin-right: 10px;
    }
    & img{
        width: 100px;
        height: 100px;
        border: 1px solid black;
        background-image: url("../../assets/png/testUser.jpg");
    }
}
.searchCommunity{
    & .isCommunity{
        position: relative;
    }
   &.searchCommunity-search{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
   }
    & .isCommunity:checked .searchCommunity-search{
        position: relative;
        
    }
}