.left-nav{
    color: white;
    & .left-nav-link{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80px;
        & img{
            margin: 0 10px;
        }
        & h1{
            color: white;
            font-size: 25px;
            margin-bottom: 0;
        }
    }
    
}